* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
}

div {
    display: flex;
    flex-basis: 25%;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: green;
    flex-basis: 25%;
    position: relative;
    font-size: 0;
    filter: grayscale(0.9);
    display: flex;
}

a:visited {
    color: green;
}

a:hover {
    flex-grow: 3;
    filter: none;
}

a img {
    width: 100%;
}

a p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    width: 100%;
    text-align: center;
}